/bin/local
# fish
/fish/fish_history
/fish/fishd.*
# vim
/vim/.netrwhist
/vim/bundle/
!/vim/bundle/vundle
/vim/session
# komodo
/komodo/autosave/
/komodo/codeintel/
/komodo/XRE/
/komodo/*.log
/komodo/*.bak
/komodo/*.lock
/komodo/*.xmlc
/komodo/*.sqlite
/komodo/*.tmp
/komodo/prefs.xml
