[submodule "password-store"]
	path = password-store
	url = git@gitlab.org:psamim/password-store.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "awesomewm/sharedtags"]
	path = awesomewm/sharedtags
	url = https://github.com/Drauthius/awesome-sharedtags.git
	branch = v4.0
[submodule "awesomewm/awesome-wm-widgets"]
	path = awesomewm/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
	branch = master
