[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = git@github.com:psamim/prezto.git
[submodule "zsh/zaw"]
	path = zsh/zaw
	url = git://github.com/zsh-users/zaw.git
[submodule "emacs/orgs"]
	path = emacs/orgs
	url = git@bitbucket.org:psamim/orgs.git
[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:psamim/emacs.d.git
[submodule "tmux/tmux-yank"]
	path = tmux/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
[submodule "password-store"]
	path = password-store
	url = git@bitbucket.org:psamim/password-store.git
