/* vi: ft=css */
configuration {
  combi-modi: "window,drun,run";
  font: "Iosevka 13";
  modi: "combi";
  display-drun: " App:";
  display-window: " Window:";
  display-run: " Run:";
  show-icons: true;
}

@theme "./style_normal.rasi"
