/* ui-version: 5 (do not change when modifying theme for yourself) */

$font-base-size: 13pt;
$font-mono: "Iosevka";
$font-sans: "Iosevka Etoile";
$font-family-default: $font-sans;

@import "/usr/share/astroid/ui/thread-view.scss";
