[Unit]
Description=Random wallpaper with feh

[Service]
Type=oneshot
Environment=WALLPATH=~/Pictures/Bing
ExecStart=/bin/bash -c 'ln -sf "$(find ${WALLPATH}|shuf|head -n 1)" ~/.wallpaper&&/usr/bin/feh --bg-scale ~/.wallpaper'

[Install]
WantedBy=default.target