[Unit]
Description=Get bing wallpaper once a day

[Timer]
OnCalendar=daily
Persistent=true  
Unit=get-bing-wallpaper.service

[Install]
WantedBy=default.target