[Unit]
Description=Get bing wallpaper once a day

[Timer]
OnBootSec=15min
OnUnitActiveSec=1d
Persistent=true  
Unit=get-bing-wallpaper.service

[Install]
WantedBy=default.target