[Unit]
Description=xautolock service

[Service]
Type=simple
ExecStart=/usr/bin/xautolock -time 5 -locker /home/samim/.bin/lock

[Install]
WantedBy=default.target