<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
      .agenda {
        height: 100vh;
        overflow: hidden;
        position: relative;
      }

      .agenda img {
        position: absolute;
        left: -25px;
        top: -15px;
        transform: scale(0.55);
        transform-origin: 0 0;
      }

      .right,
      .bottom {
        position: absolute;
      }

      .right {
        width: 34px;
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(
          90deg,
          rgba(255, 251, 234, 0) 0%,
          rgb(250 250 250) 73%
        );
      }

      .bottom {
        bottom: 0;
        right: 0;
        left: 0;
        height: 70px;
        background: linear-gradient(
          180deg,
          rgba(255, 251, 234, 0) 0%,
          rgb(250 250 250) 35%
        );
      }

      body {
        margin: 0;
        background-color: #fafafa;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <script>
      function onLoad() {
        document.querySelector(".bottom").style.bottom =
          window.innerHeight -
          document.querySelector("img").height * 0.55 +
          15 +
          "px";
      }
    </script>
  </head>
  <body>
    <div class="agenda">
      <img onload="onLoad()" src="{{ FILENAME }}" />
      <div class="line"></div>
    </div>
    <div class="right"></div>
    <div class="bottom"></div>
  </body>
</html>
