[Unit]
Description=http service

[Service]
Type=simple
ExecStart=python -m http.server 8080 -d /home/samim/Notes/html

[Install]
WantedBy=default.target
