[Unit]
Description=http service

[Service]
Type=simple
ExecStart=/usr/bin/althttpd --root  /home/samim/Notes/html --port 8080

[Install]
WantedBy=default.target
