[Unit]
Description=xautolock service

[Service]
Type=simple
ExecStart=/usr/bin/xautolock -time 5 -locker /home/samim/.bin/lock -detectsleep -secure -notifier notify-send -notify 10

[Install]
WantedBy=default.target