#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=
Terminal=false
Name=Daily Note
Exec=/home/samim/.bin/daily-note
Type=Application
Categories=Accessories