[Desktop Entry]
Categories=Accessories
Comment=
Exec=/home/samim/.bin/daily-note
Icon=knotes
Name=Daily Note
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
