#!/usr/bin/env xdg-open
[Desktop Entry]
GenericName=Todo
Terminal=false
Name=Todo
Exec=/home/samim/.bin/todo-org
Type=Application
Icon=emblem-ubuntuone-synchronized
Comment=Todo